
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Editing user <%= @user.email %></h1>
  </div>
</div>

<% if @user.errors.any? %>
	<div class="row">
    <div class="col-lg-8">
			<div class="alert alert-danger" role="alert">
  			<strong><%= pluralize(@user.errors.count, "error") %> :</strong>
				<ul>
					<% @user.errors.full_messages.each do |message| %>
						<li><%= message %></li>
					<% end %>
				</ul>      		
  		</div>
    </div>
	</div>
<% end %>

<div class="row">
  <div class="col-lg-8">
	<%= form_for(@user, :html => { :class => "form-horizontal", :role => "form" }) do |f| %>

	  <div class="form-group">
	  	<%= f.label :admin, :class => "col-sm-4 control-label" %>
	    <div class="col-sm-4">
				<%= f.check_box :admin %>
	    </div>
	  </div>
		  		  
	  <div class="form-group">
	  	<%= f.label :api_key, :class => "col-sm-4 control-label" %>
	    <div class="col-sm-4">
				<%= f.text_field :api_key, :placeholder => "Api key", :class => "form-control" %>
	    </div>
	    <div class="col-sm-4">
				<button id="btn-generate-api-key" class="btn btn-default btn-sm">generate new api key</button>
	    </div>
	  </div>

	  <div class="form-group">
	  	<%= f.label :content_provider_ids, "Content providers",  :class => "col-sm-4 control-label" %>
	    <div class="col-sm-4">
	  		<%= f.collection_select(:content_provider_ids, ContentProvider.order(:name), 
              :id, :name, {}, {multiple: true, class: "chosen-select form-control", 'data-placeholder' => "Choose one or several content providers"}) %>
	    </div>
	  </div>
		  		  
	  <div class="form-group">
	  	<%= f.label :subscribed_alert_mediaspot_offline, "Receive an email when a mediaspot becomes offline", :class => "col-sm-4 control-label" %>
	    <div class="col-sm-4">
				<%= f.check_box :subscribed_alert_mediaspot_offline %>
	    </div>
	  </div>
		  		  
	  <div class="form-group">
	  	<%= f.label :sms_subscribed_alert_mediaspot_offline, "Receive an SMS when a mediaspot becomes offline", :class => "col-sm-4 control-label" %>
	    <div class="col-sm-4">
				<%= f.check_box :sms_subscribed_alert_mediaspot_offline %>
	    </div>
	  </div>
		  		  
	  <div class="form-group">
	  	<%= f.label :subscribed_alert_sync_error, "Receive an email when there is a syncing error on one of the mediaspots", :class => "col-sm-4 control-label" %>
	    <div class="col-sm-4">
				<%= f.check_box :subscribed_alert_sync_error %>
	    </div>
	  </div>
		  		  
	  <div class="form-group">
	  	<%= f.label :sms_subscribed_alert_sync_error, "Receive an SMS when there is a syncing error on one of the mediaspots", :class => "col-sm-4 control-label" %>
	    <div class="col-sm-4">
				<%= f.check_box :sms_subscribed_alert_sync_error %>
	    </div>
	  </div>

	  <div class="form-group">
	  	<%= f.label :phone_number, 'Phone number (with country code)', :class => "col-sm-4 control-label" %>
	    <div class="col-sm-4">
			<%= f.text_field :phone_number, :placeholder => "Example: +33122334455", :class => "form-control" %>
	    </div>
	  </div>

	  <div class="form-group">
	    <div class="col-sm-offset-4 col-sm-8">
	      <%= f.submit "Update", :class => "btn btn-primary" %>
	    </div>
	  </div>

	<% end %>

  </div>
</div>



<%= link_to 'Show', @user, class: 'btn btn-info btn-sm' %>
<%= link_to 'Back', users_path, class: 'btn btn-info btn-sm' %>


<%= javascript_include_tag 'chosen.jquery.min' %>
<%= stylesheet_link_tag 'chosen.min' %>

<script>
	
	$(function(){
		$('#btn-generate-api-key').click(function(){

			$.get('/helpers/generate_api_key', function(data){
				$('#user_api_key').val(data.key);
			})

			return false;
		});


		$('.chosen-select').chosen();
	});

</script>

